@model AppAction

<form action="#" method = "post" class="form-horizontal">

    <br />
    <h4>Publish an action</h4>
    <br />
    <br />

    @*<div class="control-group">
        <label class="control-label" for="tbAppName">App Name</label>
        <div class="controls">
            <input type="text" id="tbAppName" placeholder="App Name" value="RandomApp">
        </div>
    </div>*@

    <div class="control-group">
        <label class="control-label" for="tbSubjectId">Subject ID</label>
        <div class="controls">
            <input type="text" id="tbSubjectId" placeholder="Subject ID" value="Subject">
            The object that performs the action (for example, user id)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="tbAction">Action</label>
        <div class="controls">
            <input type="text" id="tbAction" placeholder="Action" value="do smth">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="tbObjectId">Object ID</label>
        <div class="controls">
            <input type="text" id="tbObjectId" placeholder="Object ID" value="Object">
            The object that receives the action (for example, an article id)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="tbDescription">Description</label>
        <div class="controls">
            <textarea id="tbDescription" placeholder="Description"></textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" type="button" id ="btnPushAction">
                Publish Action
            </button>
        </div>
    </div>
</form>

<script>

    $(function() {
        $('#btnPushAction').click(function () {
            $(this).hide();
            $.ajax({
                type: "POST",
                url: '/@User.Identity.Name/activity/' + $('#tbSubjectId').val() + '/' + $('#tbAction').val() + '/' + $('#tbObjectId').val(),
                data: {
                    appKey: '@Session["appKey"]',
                    description: $('#tbDescription').val()
                }
            }).done(function (msg) {
                $('#btnPushAction').fadeIn();
            });
        });
    });

</script>
