C:\work\Projects\gReputation\gReputation\Views\Home\RegisterSuccess.cshtml@model App

<div class="alert" style="margin: 100px;">
    App succesfully registered:
    <Br />
    App Name: @Model.PartitionKey<br />
    Secret Key: @Model.RowKey
    <br /><br />
    <a href="/admin">Proceed to admin</a>
</div>
